    .HeroImage {
      background-position: 50%;
      width: 100%;
      height: 300px;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @media (min-width: 600px) {
        height: 325px;
      }
      @media (min-width: 900px) {
        height: 375px;
      }
      @media (min-width: 1200px) {
        height: 425px;
      }
      @media (min-width: 1536px) {
        height: 500px; 
      }            
    }
