.card {
    height: 100%;
    padding: 16px;
    @media (min-width: 600px) {
      padding: 16px 16px;
    }
    @media (min-width: 1200px) {
        padding: 32px 32px;
    }
  }

  .mobile{
    height: 42rem;
    position:relative;
    @media (min-width: 600px) {
        display: none;
    }
  }
  .nonMobile{
    height: 24rem;
    position:relative;
    display: none;
    @media (min-width: 600px) {
      display: block;
    }
  }